<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POSDatabaseConnectionString" connectionString="Data Source=XE;User ID=posdb;Password=123456;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>